/* Reset básico e estilo geral */
body {
    background-image: url("../../img/bg_login.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
/* ------------ CORPO DO SITE ------------ */
.container-geral{
    display: flex;
    width: 900px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(62, 1, 87, 0.53);
}
.link_pura{
    font-family: 'Lexend Giga', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 5px;
    left: 30px;
     /* Gradiente de cores */
     background: linear-gradient(90deg, #bf00ff, #6a00ff, #0099FF);
    
     /* Visualização do degradê no texto */
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     
     background-clip: text; /* para navegadores não-webkit */
     color: transparent;
     filter: brightness(1.5);
     stroke: linear-gradient(#bf00ff, #6a00ff, #0099FF);
     transition: 0.2s ease;
}
.texto_bv{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 150px;
    left: 33.5%;
}
/* ------------ Botão google ------------ */
.google_button{
    position: absolute;
    top: 230px;
    left: 35%;
    padding: 10px 125px;
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s ease;
}
.img_google{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 30px;
    height: 30px;
}
.texto_google{
    position: absolute;
    top: 0;
    left: 80px;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/* ------------ Divisor "or" ------------ */
.divider-container {
    display: flex;
    position: absolute;
    top: 280px;
    left: 31.5%;
}
.divider{
    position: relative;
    height: 1px;
    background-color: white;
    top: 25px;
    left: 5px;
    padding: 0.1px 80px;
}
.divider_text{
    position: relative;
    margin: 0 10px;
    font-size: 14px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    top: 16px;
    left: 5px;
}
.divider2{
    position: relative;
    height: 1px;
    background-color: white;
    top: 25px;
    right: 5px;
    padding: 0.1px 80px;
}
/* ------------ Inputs do formulário ------------ */
.inputs {
    font-size: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.791);
}
.inputs input{
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    transition: border-color 0.3s;
}
#email{
    position: relative;
    top: -25px;
}
#senha{
    position: relative;
    top: -20px;
}
#confirm_senha{
    position: relative;
    top: -15px;
}
.botao{
    position: relative;
    top: 20px;
    padding: 12.5px 125px;
    border-radius: 10px;
    border: none;
    background-color: #9a03ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}
.form-group{
    position: absolute;
    top: 350px;
    left: 35.5%;
}
.sing_up{
    position: absolute;
    top: 250px;
    left: 25px;
    font-size: 12.5px;
}
.sing_A{
    color: aqua;
    transition: 0.2s ease;
}
/* ------------ coisinhas bonitinhas ------------ */
.notebook{
    position: absolute;
    width: 50%;
    top: 12.5px;
    right: 50px;
    transform: rotateY(180deg);
    z-index: 2;
}
.bola_cromo{
    position: absolute;
    top: -50px;
    right: 200px;
    width: 40%;
    transform: rotate(50deg);
}
.bola_cromo2{
    position: absolute;
    bottom: -200px;
    right: -70px;
    width: 25%;
}
/* ------------  hovers ------------ */
.sing_A:hover{
    color: rgb(9, 130, 130);
    transition: 0.2s ease;
}
.botao:hover{
    background-color: #bf00ff;
    transition: 0.5s ease;
}
.google_button:hover{
    background-color: #bebebe;
    transition: 0.2s ease;
}
.link_pura:hover{
    filter: brightness(2);
    transition: 0.2s ease;
}